<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mastercss.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
<head>
    <meta charset="utf-8" />
</head>
  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/mainpage">
            <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"> Interest Portal </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interests
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fas fa-fw fa-cog"></i>
            <span>Archery</span>
            </a>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-cog"></i>
                <span>Swimming</span>
            </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Settings
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fas fa-fw fa-cog"></i>
            <span>Change Interests</span>
            </a>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href={{url_for('pages.profile') }}>
            <i class="fas fa-fw fa-cog"></i>
            <span>Profile</span>
            </a>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/">
            <i class="fas fa-fw fa-cog"></i>
            <span>Logout</span>
            </a>

        </ul>
        <!-- End of Sidebar -->

        <!-- Begin Page Content -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div id='profile-head'>
                        <img src="https://pbs.twimg.com/profile_images/507608801290092544/LrzEBXXu.png" alt="user">
                        <h1 class="h1 mb-0 text-gray-800">{{ name }}'s Profile</h1>
                    </div>
                    
                    <!-- Profile details-->

                    <div id='profile-body'>
                        <div id='profile-personal'>
                            <h3>Personal Details:</h3>
                            <p>Email: {{ email }}<p>
                            <p>Date Joined: {{ createdAt }}</p>
                        </div>
                        <hr>
                        <div id='profile-activity'>
                            <h3>Activity Details:</h3>
                            <p>Events Participated: 20</p>
                            <p>Events Led: 2</p>
                            <p>Groups Joined: 4</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </body>
</html>