<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Make Account</title>

  <!-- Custom fonts for this template-->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mastercss.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              {% with messages = get_flashed_messages() %}
              {% if messages[0] == 'Email address already exists' %}
                  <div class="notification is-danger">
                      {{ messages[0] }}. Go to <a href="{{ url_for('index.index') }}">login page</a>.
                  </div>
              {% elif messages[0] == 'Passwords do not match' %}
                  <div class="notification is-warning">
                    {{ messages[0] }}. Type it again.
                  </div>
              {% endif %}
              {% endwith %}
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Reset Password!</h1>
              </div>
              <form action="{{ url_for('reset_with_token', token=token) }}" method="POST">
                {{ form.password.label }}: {{ form.password }}<br>
                {{ form.csrf_token }}
                <input type="submit" value="Change my password" />
            </form>
              
              <div class="text-center">
                <a class="small" href="/forgotpassword">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
